.header {
  max-width: $--page-maxwidth;
  margin-inline: auto;
  @include flex($justify: space-between);
  height: $--header-height;
  background-color: $--keycolor;
  padding: 0 20px;
  color: #fff;
}
