.imgList {
  width: 100%;
  overflow: visible;
  @include flex($justify: flex-start, $align: flex-start, $gap: 10px);

  .customSlide {
    width: 300px;
    
    .squareBox {
      position: relative;
      width: 100%;
      flex-shrink: 0;
      aspect-ratio: 1/1;
      border: 1px solid #ddd;
      overflow: hidden;
    }
    
    canvas {
      // width: 100%;
      // height: 100%;
    }
    
    .imgContainer {
      width: 100%;

      .infoWrap {
        @include flex($justify: space-between);
        border: 1px solid $--border-light;
        border-radius: 0 0 $--radius-s $--radius-s;
        border-top: 0;
        padding: 10px;
    
        button:disabled {
          opacity: 0.3;
        }
    
        .infoCenter {
          @include flex($gap: 10px);
        }
      }
    
      .imgWrap {
        > img {
          object-fit: contain;
          width: 100%;
        }
    
        &:hover {
          border: 1px solid $--keycolor;
          cursor: pointer;
        }
      }
    }
  }
}


.addBtn {
  @include flex();
  font-size: 3em;
  cursor: pointer;

  > input {
    position: absolute;
    visibility: hidden;
  }
}
.fileInput {
  border: 1px solid red;
}

.createBtn {
  display: block;
  width: 300px;
  height: 70px;
}


