.main {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  padding: 6rem;
  min-height: 100vh;
}
.createBtn {
  padding: 10px 30px;
  font-size: 2em;
  border-radius: 30px;
  border: 1px solid rgb(45, 45, 150);
  color: rgb(45, 45, 150);
}
