.pageModalContainer {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  z-index: 1000;
}

.dimm {
  position: fixed;
  inset: 0;
  background-color: rgba(0, 0, 0, 0.3);
  z-index: 999;
}

.container {
  .popup {
    max-width: 380px;
    width: 90dvw;
    padding: 30px 24px;
    border-radius: $--radius-m;

    .title {
      margin: 0;
      padding: 0;
      @include T-m(b);
      color: $--black;
    }

    .content {
      margin: 10px 0 0;
      white-space: pre-line;
      @include T-s();
      color: $--T-dark;
    }

    .btnWrap {
      width: 100%;
      @include flex($gap: 10px);
      margin: 20px 0 0;
      flex-wrap: nowrap;

      .confirmBtn {
        width: 100%;
        margin: 0;
        background-color: $--keycolor;
        color: $--white;
        border-radius: $--radius-s;
        @include T-r(b);
        padding: 16px;
      }

      .cancelBtn {
        width: 100%;
        margin: 0;
        border: 1px solid $--keycolor;
        background-color: $--white;
        color: $--keycolor;
        border-radius: $--radius-s;
        @include T-r(b);
        padding: 16px;
      }
    }
  }
}
