.modalContainer {
  max-width: 600px;
  width: 80dvw;
  min-height: 50dvh;
  padding: 30px;
  @include flex($direction: column);
  border-radius: $--radius-l;
  margin: auto;
  text-align: center;
  background-color: $--white;

  .mainTitle {
    flex-grow: 2;
    width: 100%;
    @include flex($direction: column, $gap: 6px);
    color: $--T-dark;
    .projectName {
      font-size: 46px;
      font-weight: 700;
    }
    .projectSubName {
      @include T-s;
    }
  }

  .loginType {
    flex-grow: 1;
    width: 100%;
    @include flex($direction: column);

    .loginBtn {
      padding: 14px;
      width: 100%;
      border-radius: 60px;
      @include T-s(b);
      color: $--T-medium;

      &.kakao {
        background-color: #fee500;
        color: #191919;
      }

      &:hover {
        background-color: rgba(255, 235, 58, 0.8);
        color: $--T-dark;
      }
    }
  }
}
