.detailContainer {
  @include flex($direction: column, $align: flex-start, $gap: 18px);
  padding: 30px 20px;

  .likeBtn {
    @include flex($justify: flex-start, $gap: 4px);
    @include T-s();
    color: $--T-medium;

    &.active {
      color: $--keycolor;
      @include T-s(b);
    }

    > svg {
      width: 14px;
    }
  }

  .thumbnailWrap {
    position: relative;
    width: 100%;
    max-width: 480px;
    margin: auto;
    aspect-ratio: 1/1;
    border: 1px solid $--border-light;
  }

  .buttonWrap {
    @include flex();
    padding: 3px 0;
    width: 100%;
    max-width: 480px;
    margin: auto;

    > button {
      @include flex($gap: 10px);
      width: 100%;
      padding: 0 3px;

      &:not(:first-child) {
        border-left: 1px solid gray;
      }
    }
  }

  .title {
    @include T-m(b);
  }

  .tagList {
    @include flex($justify: flex-start, $gap: 5px 7px);
    flex-wrap: wrap;

    .tag {
      @include flex($gap: 4px);
      padding: 3px 7px;
      @include T-C();
      border: 1px solid $--keycolor-medium;
      border-radius: 10px;

      .deleteTag {
        width: 12px;
        height: 12px;
      }
    }
  }
}

.userContainer {
  padding: 30px 20px;
  @include T-m(b);
  background-color: $--bg;

  .userProfileWrap {
    @include flex($justify: flex-start, $gap: 10px);

    .userProfile {
      position: relative;
      width: 32px;
      height: 32px;
      border-radius: 16px;
      border: 2px solid $--keycolor-medium;
      overflow: hidden;
    }
  }

  .imgList {
    // width: 100%;

    overflow: visible;
    margin-top: 18px;

    .rail {
      width: max-content;
      @include flex($justify: flex-start);
    }

    .customSlide {
      position: relative;
      width: 90px;
      height: 90px;
      aspect-ratio: 1/1;
      border: 1px solid $--border-light;
      border-radius: $--radius-s;
      overflow: hidden;
      background-color: #fff;

      .count {
        position: absolute;
        left: 0;
        right: 0;
        bottom: 0;
        z-index: 10;
        padding: 2px;
        @include flex($gap: 3px);
        @include T-xs(b);
        width: 100%;
        background-color: rgba(255, 255, 255, 0.73);
      }
    }
  }
}
