.effects {
    @include flex($direction: column, $justify: flex-start, $align: space-between, $gap: 14px);
}

.effectWrap {
    padding: 10px 16px;
    @include flex($justify: flex-start, $gap: 10px);
    border: 1px solid $--border-light;
    border-radius: 6px;
    
    .effectName {
        flex-shrink: 0;
        @include T-s("b");
    }

    .inputWrap {
        width: 100%;
        @include flex($justify: flex-start, $gap: 10px);
        @include T-xs();
        color: $--T-medium;

        > span {
            flex-shrink: 0;
        }

        .delay {
            width: 100%;
        }
    }
}
