.centerContainer {
  max-width: $--page-maxwidth;
  min-height: calc(100dvh - $--header-height);
  margin-inline: auto;
  overflow: hidden;
  background-color: $--white;

  &.hasBg {
    background-color: $--bg;
  }
}
