@mixin flex($direction: row, $justify: center, $align: center, $gap: 0px) {
  display: flex;
  flex-direction: $direction;
  justify-content: $justify;
  align-items: $align;
  gap: $gap;
}

@mixin grid($repeat: 2, $size: 1fr, $gap: 0px) {
  display: grid;
  grid-template-columns: repeat($repeat, $size);
  gap: $gap;
}

@mixin mq-s {
  @media (max-width: 640px) {
    @content;
  }
}

@mixin inputBox {
  border: 1px solid $--border-medium;
  border-radius: $--radius-s;
  // height: 40px;
  padding: 10px 16px;
  @include T-r();
}

@mixin ellipsis($line: 1) {
  @if ($line == 1) {
    width: 100%;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
  }

  @if (1 < $line) {
    display: -webkit-box;
    overflow: hidden;
    text-overflow: ellipsis;
    -webkit-line-clamp: $line;
    -webkit-box-orient: vertical;
  }
}
