@mixin flex($direction: row, $justify: center, $align: center, $gap: 0px) {
  display: flex;
  flex-direction: $direction;
  justify-content: $justify;
  align-items: $align;
  gap: $gap;
}


@mixin mq-s {
  @media (max-width: 640px) {
    @content;
  }
}

@mixin inputBox {
  border: 1px solid $--border-medium;
  border-radius: $--radius-s;
  // height: 40px;
  padding: 10px 16px;
  @include T-r();
}