// color
$--border-light: #dedede;
$--border-medium: #8e8e8e;
$--border-dark: #5e5e5e;
$--T-light: #c8c8c8;
$--T-medium: #8e8e8e;
$--T-dark: #2b2b2b;
$--keycolor-light: #dad5ff;
$--keycolor-medium: #9f8af5;
$--keycolor: #5603de;
$--white: #ffffff;
$--black: #2b2b2b;
$--bg: #f0f0f0;
$--bg-light: #f7f7f7;

// size
$--page-maxwidth: 640px;
$--radius-s: 6px;
$--radius-m: 10px;
$--radius-l: 20px;
$--header-height: 50px;
